<button mat-raised-button color="primary" (click)="goToGenreList()" class="action-button">
    Show all genres
</button>
<br/>
<br/>
<mat-card class="content" appearance="outlined">
    <mat-card-header>
        <mat-card-title-group>
            <mat-card-title> {{ genre.name }}
            </mat-card-title>
            <mat-card-subtitle/>
        </mat-card-title-group>
    </mat-card-header>
    <mat-card-content></mat-card-content>

    <mat-card-content>
        {{ genre.description }}
    </mat-card-content>
    <mat-card-content class="horizontal-content">

    </mat-card-content>
</mat-card>

<mat-toolbar class="bookstore-toolbar">
    <button mat-raised-button color="primary" (click)="goToEditGenre(genre)" class="action-button">
        Edit
    </button>
    <button mat-raised-button color="primary" (click)="deleteGenre(genre)" class="action-button">
        Delete
    </button>
</mat-toolbar>